.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 13px;
    height: 100%;
  }
  
  .table-row {
    display: grid;
    border-bottom: 1px solid var(--color-border);
    padding: 2px 20px;
    cursor: pointer;
    background: var(--color-bg-card);
    height: 100%;
  }

  .table-row:hover {
    background: var(--color-bg-menu);
  }
  
  .table-header {
    font-weight: bold;
    background: var(--color-border);
    padding: 2px 20px;
    height: auto;
  }
  .table-header:hover {
    background: var(--color-border);
    cursor: default;
  }
  
  .kanban {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
  }
  
  .kanban-card {
    border: 1px solid var(--color-border);
    border-radius: 3px;
    font-size: 13px;
    padding: 12px;
    background: var(--color-bg-card);
  }
  
  .kanban-title {
    font-weight: bold;
    margin-bottom: 4px;
    color: var(--color-text-main);
  }
  .kanban-body {
      color: var(--color-text-secondary);
  }
