.nf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--color-bg-main);
  text-align: center;
  position: fixed;
  width: 100%;
}

.nf-robot {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: -1;
}

.glassBg {
  padding: 25px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-bg-menu);
}

.nf-title,
.nf-subtitle {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 0;
  width: 100%;
}

.nf-subtitle {
  font-size: 18px;
}

.nf-sub {
  font-size: 16px;
  margin: 8px 0;
  color: var(--color-text-secondary)
}

.nf-actions {
  display: flex;
  gap: 10px;
}

.nf-actions button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: var(--color-accent);
  color: var(--color-text-light);
  padding: 5px 7px;
  border-radius: 2px;
}

.pathname {
  color: var(--color-primary);
}